@import "compass"
@import "blueprint"

$nhs_red: #672330 //#5E242E //#63242C
$nhs_silver: #888982

$font-color:         $nhs_red //#2a2a2a
$link-color:         $nhs_red
$link-hover-color:   #AF404F
$link-focus-color:   $link-color
$link-active-color:  $link-color
$link-visited-color: $link-color

$blueprint-font-family:  'DayRoman', 'Baskerville', serif
$blueprint-font-size:    16px
$blueprint-grid-columns: 12
$blueprint-grid-width:   60px
$blueprint-grid-margin:  20px

+global-reset

+blueprint-typography

@import "partials/fonts"
@import "partials/layout"

a
  +link-colors($link-color, $link-hover-color, $link-focus-color, $link-active-color, $link-visited-color)

// Temporary


h1
  color: $font-color
  div.secondary
    margin-top: 0.4em
    font-size: 0.7em
    color: #444

img.landing
  +single-box-shadow(#333, 0, 0, 10px)