#contact
  .person Band Director

  .information
    .name Mr. Robert Hughes, Jr.
    %p
      543 Rubber Avenue
      %br
      Naugatuck, CT 06770
      %br
      203-720-5653 | hughesr@naugy.net

  .person Greyhound Band Association

  .information
    .name
      President: Nancy Plourde
    %p
      nancpl@gmail.com
