#contact
  .person Band Director

  .information
    .name Mr. Robert Hughes, Jr.
    %p
      543 Rubber Avenue
      %br
      Naugatuck, CT 06770
      %br
      203-720-5653 | robert.hughes@naugatuck.k12.ct.us

  .person Greyhound Band Association

  .information
    .name
      President: Ginny Doxsey
    %p
      naugatuckband@gmail.com
