#contact
  .person Band Director

  .information
    .name Mr. Robert Hughes, Jr.
    %p
      543 Rubber Avenue
      %br
      Naugatuck, CT 06770
      %br
      203-720-5442 | hughesr@naugy.net

  .person Band Parent Association

  .information
    .name
      President: Doris Coss
    %p
      dorisicoss@sbcglobal.net
      %br
      203-525-9427