#contact
  .person Band Director

  .information
    .name Mr. Robert Hughes, Jr.
    %p
      543 Rubber Avenue
      %br
      Naugatuck, CT 06770
      %br
      203-720-5442 | rhughes@naugy.net

  .person Band Parents Association

  .information
    .name
      President: adfdsf adsfdsf