#directions
  #address
    543 Rubber Avenue
    %br
    Naugatuck, CT 06770
  #map
    :plain
      <iframe width="460" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=543+Rubber+Avenue++Naugatuck,+CT+06770&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=54.357317,104.853516&amp;ie=UTF8&amp;hq=&amp;hnear=543+Rubber+Ave,+Naugatuck,+Connecticut+06770&amp;ll=41.491058,-73.07463&amp;spn=0.006349,0.0128&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=543+Rubber+Avenue++Naugatuck,+CT+06770&amp;aq=&amp;sll=37.0625,-95.677068&amp;sspn=54.357317,104.853516&amp;ie=UTF8&amp;hq=&amp;hnear=543+Rubber+Ave,+Naugatuck,+Connecticut+06770&amp;ll=41.491058,-73.07463&amp;spn=0.006349,0.0128&amp;z=14&amp;iwloc=A" style="color:#0000FF;text-align:left">View Larger Map</a></small>