#directions
  #address
    543 Rubber Avenue
    %br
    Naugatuck, CT 06770
  #map
    :plain
      <iframe width="460" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=Naugatuck+High+School,+543+Rubber+Avenue,+Naugatuck,+CT+06770&amp;aq=t&amp;sll=41.491928,-73.073577&amp;sspn=0.006349,0.0128&amp;ie=UTF8&amp;hq=Naugatuck+High+School,+543+Rubber+Avenue,+Naugatuck,+CT+06770&amp;z=14&amp;iwloc=A&amp;cid=11760826219057492081&amp;ll=41.491058,-73.07463&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=Naugatuck+High+School,+543+Rubber+Avenue,+Naugatuck,+CT+06770&amp;aq=t&amp;sll=41.491928,-73.073577&amp;sspn=0.006349,0.0128&amp;ie=UTF8&amp;hq=Naugatuck+High+School,+543+Rubber+Avenue,+Naugatuck,+CT+06770&amp;z=14&amp;iwloc=A&amp;cid=11760826219057492081&amp;ll=41.491058,-73.07463" target="_blank">View Larger Map</a></small>