- content_for :head do
  %title Naugatuck High School Marching Band

%h1
  Naugatuck High School
  .secondary Marching Band & Color Guard

%img.logo{:src => "/images/nhs.png"}

#coming_soon
  We are in the process of redesigning and updating our website.

Our old site can still be accessed by clicking
%a{:href=>"/old"} here