- content_for :head do
  :javascript
    $(function() { JB.Slideshow.init(); });

#photos
  - 8.times do |n|
    %img.photo{:src=>"/images/photos/#{n + 1}.jpg", :class => ('top' if n == 0)}
  .controls
    %img#previous.control{:src=>"/images/controls/previous.png"}
    #play-pause.control
    %img#next.control{:src=>"/images/controls/next.png"}

%h2.tup
  Talent
  %span.bull &bull;
  Unity
  %span.bull &bull;
  Pride