#parents
  %h3 Documents

  #downloads
    .list
      = link_to "Band Association By-laws", "/downloads/documents/bylaws.pdf"
      = link_to "Permission & Medical Information", "https://forms.gle/XKgNwe6MnarzUw9n9"
      = link_to "NEF GBA Golf Fundraiser", "/downloads/documents/nef_gba_golf.pdf"
