#parents
  %h3 Documents

  #downloads
    .list
      = link_to "Parent Handbook", "/downloads/documents/parent_handbook.pdf"
      = link_to "Band Association By-laws", "/downloads/documents/bylaws.pdf"
