#events
  %h1 Winter Guard 2014
  - if events.empty?
    %h2 Coming soon ...
  - else
    - events.each do |event|
      .event
        .name
          - if event.url
            = link_to event.name, event.url
          - else
            = event.name
        .score
          = event.score
