#events
  %h1 Winter Guard 2012
  - events.each do |event|
    .event
      .name
        - if event.url
          = link_to event.name, event.url, :target => "_blank"
        - else
          = event.name
      .score= event.score