#events
  %h1= link_to "Fall 2011", "/downloads/documents/fall_2011_bio.pdf",
    :target => "_blank"
  - events.each do |event|
    .event
      .name
        - if event.url
          = link_to event.name, event.url, :target => "_blank"
        - else
          = event.name
      .score= event.score