#events
  %h1 Fall 2012
  :plain
    <div class="event">
      <div class="name">
        <a href="http://musicalartsconference.com/events/09152012/Brookfield-High-School.html">Brookfield High School</a>
      </div>
      <div class="score">
        71.20
      </div>
    </div>
    <div class="event">
      <div class="name">
        <a href="http://musicalartsconference.com/events/09222012/Naugatuck-High-School.html">Naugatuck High School</a>
      </div>
      <div class="score">
        71.10
      </div>
    </div>
    <div class="event">
      <div class="name">
        <a href="http://musicalartsconference.com/events/09292012/Trumbull-High-School.html">Trumbull High School</a>
      </div>
      <div class="score">
        78.00
      </div>
    </div>
    <div class="event">
      <div class="name">
        <a href="http://musicalartsconference.com/events/10132012/Bethel-High-School.html">Bethel High School</a>
      </div>
      <div class="score">
        82.00
      </div>
    </div>
    <div class="event">
      <div class="name">
        <a href="http://musicalartsconference.com/events/10202012/Shelton-High-School.html">Shelton High School</a>
      </div>
      <div class="score">
        86.10
      </div>
    </div>
    <div class="event">
      <div class="name">
        <a href="http://trigonroad.com/yea/eventInfo.cfm?id=439">Bunnell High School</a>
      </div>
      <div class="score">
        86.00
      </div>
    </div>
    <div class="event">
      <div class="name">
        <a href="http://musicalartsconference.com/events/10272012/Jonathan-Law-High-School.html">Jonathan Law High School</a>
      </div>
      <div class="score">
        89.60
      </div>
    </div>
    <div class="event">
      <div class="name">
        <a href="http://musicalartsconference.com/events/11032012/Norwalk-High-School.html">Norwalk High School</a>
      </div>
      <div class="score">
        Canceled
      </div>
    </div>
    <div class="event">
      <div class="name">
        <a href="http://musicalartsconference.com/events/11102012/MAC-Championships.html">MAC Championships</a>
      </div>
      <div class="score">
        91.45
      </div>
    </div>
  / - if events.empty?
  /     %h2 Coming soon ...
  /   - events.each do |event|
  /     .event
  /       .name
  /         - if event.url
  /           = link_to event.name, event.url
  /         - else
  /           = event.name
  /       .score
  /         = event.score
