%h2 Fall Show

%p
  = link_to "Opener", "/media/audio/NationsOpen.mp3"
  %br
  = link_to "Ballad", "/media/audio/WeGoOn.mp3"
  %br
  = link_to "Closer", "/media/audio/EarthClose.mp3"

%h2 Photos

%p= link_to "Fall 2010", "http://s392.photobucket.com/albums/pp3/NHS_Bandparent/"

