#downloads
  #nav
    a
      color: #444
      font-size: 1.1em
      &:hover
        color: #222

  .section
    font-size: 2em
    color: #444
    margin: 0.5em 0
    clear: both
  .columns
    .left
      +column(6)
    .right
      +column(6, true)
  .list
    a
      display: block
    div.sub
      padding: 1em
      +border-radius(5px)
      background-color: #f9f9f9
      margin: 0.5em
      +single-box-shadow(#aaa, 0px, 1px, 1px, false, true)
  h3
    margin: 1em 0
    color: #444