#alumni
  %p.lead
    %strong NHSMB Alumni & Supporter Association
    is a group focused on providing
    support for the Marching Band. A strong support network is critical in
    ensuring the Marching Band achieves its goals and continues giving the
    gift of Music Education to Naugatuck’s youth.

  %h2 Membership

  %p
    Become a member of the Alumni & Supporter Association at one of these
    three levels.
    %br
    For more information please read the organization's
    = succeed(".") do
      = link_to "introductory letter", "/downloads/documents/alumni_letter.pdf"

  :plain
    <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
    <input type="hidden" name="cmd" value="_s-xclick">
    <input type="hidden" name="hosted_button_id" value="T57E6Z6S7673G">
    <table class='centered'>
    <tr><td><input type="hidden" name="on0" value="Patron Level">Patron Level</td></tr><tr><td><select name="os0">
      <option value="Patron">Patron $25.00 USD</option>
      <option value="Silver Patron">Silver Patron $50.00 USD</option>
      <option value="Gold Patron">Gold Patron $100.00 USD</option>
      <option value="Director's Patron">Director's Patron $200.00 USD</option>
    </select> </td></tr>
    </table>
    <input type="hidden" name="currency_code" value="USD">
    <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
    <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>

  -# <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
  -# <input type="hidden" name="cmd" value="_s-xclick">
  -# <input type="hidden" name="hosted_button_id" value="T57E6Z6S7673G">
  -# <table class="centered">
  -# <tr><td><input type="hidden" name="on0" value="Patron Level">Membership Level:</td><td><select name="os0">
  -# <option value="Patron">Patron $25.00 USD</option>
  -# <option value="Silver Patron">Silver Patron $50.00 USD</option>
  -# <option value="Gold Patron">Gold Patron $100.00 USD</option>
  -# </select> </td>
  -# <td>
  -# <input type="hidden" name="currency_code" value="USD">
  -# <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
  -# <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
  -# </td></tr>
  -# </table>
  -# </form>

  %table
    %thead
      %tr
        %th Level
        %th
        %th Benefits
    %tbody
      %tr
        %td Patron
        %td $25
        %td
          %ul
            %li Your name printed in the "Thunder in the Valley" program booklets
      %tr
        %td Silver Patron
        %td $50
        %td
          %ul
            %li Your name printed in the "Thunder in the Valley" program booklets
            %li PLUS Two tickets to "Thunder in the Valley"
      %tr
        %td Gold Patron
        %td $100
        %td
          %ul
            %li Your name printed in the "Thunder in the Valley" program booklets
            %li Two tickets to "Thunder in the Valley"
            %li
              PLUS a copy of the Marching Band Season DVD, including many
              performances, and memorable moments during the current marching band
              season
      %tr
        %td Director's Patron
        %td $200
        %td
          %ul
            %li Your name printed in the "Thunder in the Valley" program booklets
            %li Four tickets to "Thunder in the Valley"
            %li
              A copy of the Marching Band Season DVD, including many
              performances, and memorable moments during the current marching band
              season
            %li
              PLUS a NHS Marching Band Tee Shirt
